version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      npm-dependencies:
        patterns:
          - "*"
    ignore:
      - dependency-name: "*eslint*"
  - package-ecosystem: "maven"
    directory: "maven-build-scan-capture-extension"
    schedule:
      interval: "weekly"
    groups:
      maven-dependencies:
        patterns:
          - "*"
    ignore:
      - dependency-name: "org.mockito:mockito-core"
        # Required for JDK8 compatibility
        versions: [ ">= 5" ]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns:
          - "*"
