name: Publish Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Develocity Actions Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: release/changelog.md
